#LeftColumn-main {
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  background: var(--color-background);

  > .Transition {
    flex: 1;
    overflow: hidden;
  }

  .RecentContacts,
  .LeftSearch,
  .search-content {
    height: 100%;
    overflow-y: auto;
  }

  .btn-update {
    position: absolute;
    bottom: 1rem;
    left: 50%;
    margin: 0 auto;
    transform: translateX(-50%);

    white-space: nowrap;
  }

  .DropdownMenuFiller {
    width: 2.5rem;
    height: 2.5rem;
  }

  .DropdownMenu.rtl {
    transition: var(--slide-transition) transform;
    position: absolute;
    z-index: 2;

    &.right-aligned {
      transform:
        translateX(
            calc(
              clamp(
              var(--left-column-min-width),
              var(--left-column-width),
              var(--left-column-max-width)
              ) - 4.375rem
            )
        );
    }

    &.disable-transition {
      transition: none;
    }
  }
}
